body {
    background-color: #171717;
    margin: 20px;

}

p {
    color: #eceae1;
}

.main {
    display: grid;
    grid-template-columns: 805px auto;
    grid-template-rows: auto;
    border: 1px solid blue;
    padding: 5px;
    grid-gap: 2px;
}

.firstHalf {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 130px repeat(8, 79px);
    grid-template-rows: repeat(8, 79px);

}

.secondHalf {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(8, 79px);
    grid-template-rows: repeat(8, 79px);
}

@media screen and (max-width:900px) {
    .main {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        border: 1px solid blue;
        padding: 5px;
        grid-gap: 2px;
    }

    .firstHalf {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 130px repeat(8, 79px);
        grid-template-rows: repeat(8, 79px);

    }

    .secondHalf {
        display: none;
    }
}

.instrument {
    background-color: #2a2a2c;
    border: 1px solid blue;
    border-radius: 25px;
    height: auto;
    display: block;

}

.fBox {
    background-color: #414143;
    border: 1px solid red;
    border-radius: 25px;
    display: inherit;
    transition:
        background-color .5s,
        opacity .5s;

}

.fBox:hover,
.fBox:focus {
    background-color: lightblue;
    opacity: 50%;
}

.box {
    display: inherit;
    background-color: #2a2a2c;
    border: 1px solid red;
    border-radius: 25px;
    transition:
        background-color .5s,
        opacity .5s;

}

.box:hover,
.box:focus {
    background-color: lightblue;
    opacity: 50%;
}

.controlls {
    display: grid;
    grid-template-columns: repeat(10, 48px);
    grid-template-rows: 25px;
    border: 1px solid orange;
}

.option {
    border: 1px solid orange;

}

/*THIS IS WHERE SPECIFIC ID'S ARE KEPT*/
#keyboard {
    position: relative;
    left: 1px;
    top: 3px;
}

#play {
    background-color: #414143;
    color: #eceae1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}